@charset "utf-8";

$main-color: #60636a;
$sub-color1: #d0edf5;
$sub-color2: #00aae7;
$border-size: 3px solid #000;
@mixin centerSort {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin imgSize {
  width: 60%;
  height: 330px;
}

// 스크롤 없애기
::-webkit-scrollbar {
  display: none;
}
// 바디 전체
body {
  background-color: #fff;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", "나눔고딕", "맑은 고딕",
    sans-serif;
}
// 공통 스타일
a {
  color: inherit;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
img {
  max-width: 100%;
}
.contentWrap {
  padding: 0 30px;
  margin-bottom: 50px;
}
.subTitle {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.contentWrap h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 27.5px;
  letter-spacing: -1px;
}
.contentWrap p {
  font-size: 15px;
  padding: 12.5px 10px 20px 0;
  letter-spacing: 0px;
  word-break: keep-all;
  letter-spacing: -0.5px;
}
// 컨테이너
.container {
  width: calc(100% - 22px);
  margin: 10px;
  border: $border-size;
  box-sizing: border-box;
  background: url(../images/gridBackground.png);
  background-size: 20%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  position: relative;
  .headerLeft {
    position: absolute;
    top: 45px;
    left: 0px;
    background-color: #000;
    width: 2.5px;
    height: calc(100% - 43px);
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: ani1 3s linear forwards;
    z-index: 9999;
    transition: 1s;
  }
  .headerLeft.on {
    top: 0px;
    height: calc(100% + 2px);
  }
}
// 헤더 영역
header {
  #logo.on1 {
    display: none;
  }
  #logo {
    display: block;
    width: 180px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    order: 2;
  }
  .headerTop {
    position: absolute;
    top: 0px;
    left: 180px;
    background-color: #000;
    width: calc(100% - 220px);
    height: 2.5px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: ani1 3s linear forwards;
    z-index: 999;
    transition: 1s;
  }
  .headerTop.on {
    left: 0;
    width: calc(100% - 40px);
  }
  #white {
    display: none;
  }
  #white.on {
    display: block;
    position: absolute;
    z-index: 9998;
    top: -2px;
    right: -3px;
    width: 45px;
  }
}
// 토글버튼 off
.gnbWrap {
  width: 38px;
  height: 30px;
  background-color: #fff;
  display: flex;
  position: absolute;
  top: -1px;
  right: -6px;
  cursor: pointer;
  border-right: 3px solid #fff;
  .line {
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 1px;
    transition: 0.5s;
    z-index: 999;
  }
  .line2 {
    top: 50%;
    transform: translateY(-50%);
  }
  .line3 {
    top: auto;
    bottom: 0;
  }
}
// 토글버튼 on
.gnbWrap.on {
  z-index: 9999;
  background-color: transparent;
  .line1 {
    width: 170%;
    right: -20%;
    top: 23px;
    transform: rotate(45deg);
  }
  .line3 {
    width: 170%;
    right: -8px;
    top: 23px;
    transform: translateY(-50%) rotate(-45deg);
  }
  .line2 {
    display: none;
  }
}
// gnb영역
#gnb {
  background-color: $sub-color1;
  width: 100%;
  z-index: 9;
  order: 1;
  display: none;
  position: absolute;
  padding: 80px;
  border-bottom: $border-size;
  li a {
    display: block;
    color: inherit;
    font-size: 1.5rem;
    padding: 10px;
    &:hover {
      color: $sub-color2;
    }
  }
}
#gnb.on {
  background-color: $sub-color1;
  width: 100%;
  z-index: 9;
  order: 1;
  display: block;
  position: absolute;
  padding: 80px;
  border-bottom: $border-size;
}
// 메인 영역
.main {
  margin-top: 78px;
  .moving-circle {
    stroke-dasharray: 150;
    stroke-dashoffset: 500;
    margin-left: 50px;
    margin-top: 30px;
    animation: ani 2s linear forwards;
  }
  .moving-circle1 {
    display: none;
  }
  .intro {
    width: 70%;
    height: 150px;
    background-color: $main-color;
    color: #fff;
    position: absolute;
    right: -100%;
    margin: 40px 0;
    font-size: 14px;
    @include centerSort;
    padding: 0 20px;
    overflow: hidden;
    transition: 1s;
  }
}
// 컨텐츠1
#photoImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 280px 0 50px;
}
// 컨텐츠2
.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    @include centerSort;
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $main-color;
    margin: 0 10px;
    border: 1px solid black;
  }
}
// 컨텐츠3
.product {
  width: 100%;
  height: 100%;
  .contentWrap h2 {
    margin: 120px 0 30px 0;
    font-weight: 500;
    padding: 0;
  }
  .boxWrap {
    cursor: pointer;
    p {
      margin-left: 20px;
      letter-spacing: 2px;
    }
  }
  .boxWrap1 {
    @include imgSize;
  }
  .boxWrap2 {
    @include imgSize;
    margin: 40px auto;
    margin-right: 0;
  }
  .boxWrap3 {
    @include imgSize;
    float: none;
    margin: 0;
  }
  .ViewBtn a {
    width: 35%;
    height: 140px;
    background-color: $main-color;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 138px;
    margin: 20px auto 100px;
    margin-right: 0;
  }
}
// 공지사항
.notice {
  display: none;
}
// 고객센터
.cs {
  background-color: #ddd;
  width: 100%;
  border-top: 2px solid black;
  position: relative;
  h2 {
    margin-top: 105px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    padding: 0 24px;
  }

  #csGnb {
    padding: 0 24px;
    padding-bottom: 30px;
    line-height: 1.6;
    .csTitle {
      padding: 20px 0 0;
      font-weight: bold;
    }
  }
  #inform {
    li {
      width: 100%;
      border-bottom: 2px solid black;
    }
    button {
      display: block;
      width: 150px;
      height: 30px;
      line-height: 30px;
      border-radius: 0;
      outline: none;
      border: none;
      margin: 10px auto;
      margin-right: 30px;
      background-color: $main-color;
      color: #fff;
      font-weight: 500;
      font-family: "AppleSDGothicNeo";
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background-color: $sub-color2;
      }
    }
    input {
      padding: 0 24px;
      background-color: transparent;
      outline: none;
      border: none;
      margin: 0px;
      height: 60px;
      &::placeholder {
        color: #000;
        font-weight: 700;
        font-size: 16px;
      }
    }
    li:nth-child(4) {
      height: 120px;
    }
  }
}

// 푸터
footer {
  width: 100%;
  padding: 40px 20px 20px;
  @include centerSort;
  text-align: center;
  a {
    color: inherit;
    display: block;
    margin: 20px auto 10px;
    border: 2px solid #000;
    width: 18%;
    min-width: 300px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
// 애니메이션
@keyframes ani {
  0% {
    stroke-dashoffset: 150;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
