@charset "utf-8";

body {
  background-color: #fff;
  font-family: "AppleSDGothicNeoR00", "Noto Sans KR", "나눔고딕", "맑은 고딕",
    sans-serif;
}
.bold {
  font-weight: bold;
}
.container {
  width: calc (100%- 6px);
  margin: 10px;
  border: 3px solid black;
  box-sizing: border-box;
  background: url(../images/gridBackground.png);
  background-size: 20%;
}
#logo.on1 {
  display: none;
}
#logo {
  display: block;
  transition: 1.5s;
  width: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  order: 2;
}
.gnbWrap {
  width: 38px;
  height: 30px;
  background-color: #fff;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.gnbWrap .line {
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}
.gnbWrap .line2 {
  top: 50%;
  transform: translateY(-50%);
}
.gnbWrap .line3 {
  top: auto;
  bottom: 0;
}
.gnbWrap.on .line3 {
  transform-origin: right;
  transform: rotate(45deg);
}
.gnbWrap.on .line1 {
  transform-origin: right;
  transform: rotate(-45deg);
}
.gnbWrap.on .line2 {
  display: none;
}
.gnbWrap.on {
  z-index: 999;
  background-color: transparent;
}
#gnb {
  background-color: #d0edf5;
  width: 100%;
  z-index: 999;
  order: 1;
  display: none;
}
#gnb li a {
  display: block;
  color: inherit;
  font-size: 1.5rem;
  padding: 10px;
}
.main {
  margin-top: 78px;
}
.aniLine {
  width: 74px;
  height: 74px;
  background: url(../images/arrow.png) no-repeat 50% / cover;
  margin-left: 78px;
  margin-bottom: 45px;
}
.contentWrap {
  padding: 0 24px;
  margin-bottom: 50px;
}
.subTitle {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.contentWrap h2 {
  font-family: "AppleSDGothicNeoB00";
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 27.5px;
}
.contentWrap p {
  font-size: 15px;
  padding: 12.5px 10px 20px 0;
  letter-spacing: 0px;
  word-break: keep-all;
  letter-spacing: -0.5px;
}
.intro {
  width: 280px;
  height: 150px;
  background-color: #60636a;
  color: #fff;
  position: absolute;
  right: 13px;
  margin: 40px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.mainPhoto {
  width: 100%;
  height: 380px;
  background: url(../images/bathMain.png) no-repeat 50% / cover;
  margin-top: 265px;
  margin-bottom: 40px;
}
/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 프로덕트 */
.product .contentWrap h2 {
  margin: 40px;
  font-weight: 100;
}
.product {
  position: relative;
  width: 100%;
  height: 1700px;
  overflow: hidden;
}
.box {
  width: 360px;
  height: 360px;
  background: no-repeat 50% / cover;
}
.box ~ p {
  margin: 10px;
}
.box1 {
  background-image: url(../images/boximg1.png);
}
.boxWrap1 {
  position: absolute;
  top: 120px;
  left: 0;
}
.boxWrap2 {
  position: absolute;
  top: 580px;
  right: 0;
}
.boxWrap3 {
  position: absolute;
  top: 1040px;
  left: 0;
}
.box2 {
  background-image: url(../images/boximg2.png);
}
.box3 {
  background-image: url(../images/boximg3.png);
}
/* viewMore */
.ViewBtn a {
  width: 140px;
  height: 140px;
  background-color: #60636a;
  color: #fff;
  position: absolute;
  bottom: 80px;
  right: 0;
  text-align: center;
  line-height: 138px;
}
/* 공지사항 */
.notice {
  display: none;
}
/* 고객센터 */
.cs {
  background-color: #ddd;
  width: 100%;
  height: 800px;
  border-top: 2px solid black;
}
.cs h2 {
  margin-top: 105px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "AppleSDGothicNeoB00";
  padding: 0 24px;
}
#inform li {
  width: 100%;
  border-bottom: 2px solid black;
}
input {
  padding: 0 24px;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0px;
  height: 60px;
}
input::placeholder {
  color: #000;
  font-family: "AppleSDGothicNeoB00";
  font-size: 16px;
}
#csGnb {
  padding: 0 24px;
  padding-bottom: 30px;
  line-height: 1.6;
}
.csTitle {
  padding: 20px 0 0;
  font-weight: bold;
}
#inform li:last-child {
  height: 120px;
}
button {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  outline: none;
  border: none;
  margin: 35px auto;
  margin-right: 30px;
  background-color: #60636a;
  color: #fff;
  font-family: "AppleSDGothicNeoB00";
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  height: 2px;
  color: #000;
}

/* footer */
footer {
  width: 100%;
  border-top: 2px solid black;
  padding: 40px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
footer a {
  color: inherit;
  display: block;
  margin: 20px auto 10px;
  border: 2px solid black;
  width: 180px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
footer a:hover {
  background-color: #000;
  color: #fff;
}
.moving-circle {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transform: rotate(-90deg);
  animation: ani 5s linear infinite;
  transition: 0.5s;
}

@keyframes ani {
  0% {
    stroke-dashoffset: 500; /*500지점부터 svg가 나타남*/
  }
  50% {
    stroke-dashoffset: 0; /*0지점부터 svg가 나타남*/
  }
  100% {
    stroke-dashoffset: -500; /*-500지점부터 svg가 나타남*/
  }
}
