@charset "utf-8";

html {
  scroll-behavior: smooth;

}
body {
  margin: 0;
  font-size: 2rem;
  overflow-x: hidden;
  position: relative;
  font-family: "Arita-dotum-Medium";
}
a {
  color: inherit;
  display: block;
}
/* 고정 값 */
.logo2 h1 img {
  width: 200px;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.logo2 h2 img {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 9999;
  width: 45px;
  margin-left: 40px;
}
.logo2 .bottom_logo_left {
  position: fixed;
  left: 56px;
  bottom: 30px;
  z-index: 9999;
}
.logo2 .bottom_logo_right {
  position: fixed;
  right: 56px;
  bottom: 30px;
  z-index: 9999;
}
.logo2 .menuBar {
  color: #fff;
  z-index: 9999;
  position: fixed;
  top: 40px;
  right: 56px;
  font-size: 1rem;
  text-transform: uppercase;
}
.logo2 .menuBar #menuBox {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin-left: 10px;
  display: inline-block;
}

h3 {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
}
.sticky_box {
  position: sticky;
  top: 0;
  height: 100vh;
}
.horizontal {
  position: absolute;
  display: flex;
  width: 345%;
  height: 100%;
}
.horizontal .box {
  height: 100vh;
  width: 100%;
}
.horizontal .row1 {
  position: relative;
}
.horizontal .row2 {
  width: 95%;
}
.horizontal .row3 {
  width: 50%;
  background-color: #f4efe8;
}
.horizontal .row4 {
  width: 100%;
}
/* 첫번째 페이지 - 아이프레임 */
.video {
  position: relative;
  padding-bottom: 72.9%;
  height: 0;
  overflow: hidden;
  padding-top: 0;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circle {
  width: 50px;
  height: 50px;
  background: url(../images/header_menu_img.svg) 50% / cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}
.circleFont {
  width: 160px;
  height: 160px;
  background: url(../images/box1_circle.png) 50% / cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: rotate_image 12s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* 두번째 페이지 - 자연과 인간의 정성 */
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.row2 .photo1 {
  width: 40%;
  height: 600px;
  background: url(../images/photo1.jpg) 50% / cover;
  margin-right: 100px;
}
.row2 ul li {
  margin: 20px 0;
}
.row2 ul li:nth-child(1) {
  margin-bottom: 90px;
}
.row2 .brandstoryBtn {
  position: absolute;
  right: 0px;
  bottom: 50px;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.brandstoryBtn:hover {
  background-color: #000;
  color: #fff;
}
.row2wrap {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 세번째 페이지 - 갤러리 */
.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row3 .gallery {
  display: grid;
  width: 300px;
  height: 600px;
  grid-template-columns: repeat(1, 1fr);
}
.gallery li img {
  width: 300px;
  height: 300px;
}
/* 네번째 페이지  */
.row4wrap {
  width: 100%;
  height: 870vh;
  position: relative;
  overflow: visible;
}
.row4wrap2 {
  width: 100%;
  height: 100vh;
  background: url(../images/brand_b0.jpg) no-repeat 50% / cover;
  position: sticky;
  top: 0;
  z-index: 99;
}
.row4circle {
  width: 100%;
  height: 100%;
  background: url(../images/background.png) 0% / cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.bar1 {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.bar2 {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
.bar3 {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.bar4 {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

/* 공통 폰트 설정 */
.title {
  font-size: 45px;
  font-weight: bold;
}
.contentFont {
  font-family: "Arita-dotum-Medium";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}
.block {
  display: block;
}
/* 다섯번째 페이지 */
.empty_box {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.svg {
  width: 1310px;
  height: 100vh;
  margin: 0 auto;
  display: block;
}
text {
  fill: black;
  font-size: 280px;
  font-weight: normal;
  font-family: "Cambria";
  letter-spacing: 15px;
}
path {
  fill: transparent;
}

/* 여섯번째 페이지 */

.mountain {
  width: 768px;
  height: 344px;
  background: url(../images/jeju_island.png) no-repeat 50% / contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
  z-index: 99;
}
.sea {
  width: 1920px;
  height: 168px;
  background: url(../images/sea.png) no-repeat 0% / contain;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 9;
}
.photo2 {
  width: 201px;
  height: 313px;
  background: url(../images/photo2.png) no-repeat 50% / contain;
  position: absolute;
  left: 211px;
}
.photo3 {
  width: 412px;
  height: 510px;
  background: url(../images/photo3.jpg) no-repeat 50% / cover;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.photo4 {
  width: 222px;
  height: 195px;
  background: url(../images/photo4.png) no-repeat;
  position: absolute;
  right: 20%;
  bottom: 0;
  z-index: 1000;
}
.photo5 {
  width: 537px;
  height: 305px;
  background: url(../images/photo5.jpg) no-repeat 50% 100%;
  position: absolute;
  right: -10px;
  top: 20%;
}
/* 일곱번째 페이지 */
.empty_box3 {
  display: flex;
  position: relative;
  overflow: visible;
}
.leftBox {
  width: 55%;
  height: 300vh;
  position: absolute;
  top: 0;
  left: 0;

}
.photo6 {
  width: 100%;
  height: 540px;
  background: url(../images/photo6.jpg) no-repeat 50% / cover;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.photo7 {
  width: 370px;
  height: 370px;
  background: url(../images/photo7.png) no-repeat 50% / cover;
  position: absolute;
  top: 750px;
  left: 0;
}
.photo8 {
  width: 466px;
  height: 800px;
  background: url(../images/photo8.png) no-repeat 50% / cover;
  position: absolute;
  top: 750px;
  right: 0;
}
.photo9 {
  width: 100%;
  height: 890px;
  background: url(../images/photo9.png) no-repeat 50% / cover;
  position: absolute;
  top:1650px;
  right:0;
  z-index: 999;
}
.rightBox {
  width: 40%;
  height: 300vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.rightBoxWrap {
  margin-top: 30vh;
  position: sticky;
  top: 30vh;
  width: 100%;
  height: 100vh;
  padding-left: 40px;
}
.rightBox .title {
  margin-bottom: 50px;
}
.rightBox .contentFont {
  margin: 30px 0;
}
.rightBox .brandstoryBtn {
  margin-top: 50px;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
/* 여덟번째 페이지 */
.empty_box4 {
  margin-top: 1600px;
  background-color: #d3cabe;
  position: relative;
  height: 110vh;
}
.empty_box4 ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

#dadaGallery {
  width: auto;
  position: absolute;
  top: 320px;
  display: grid;
  grid-template-areas:
    "third first forth"
    "second first forth";
  grid-gap: 5px;
}
#dadaGallery li:nth-child(1) img,
#dadaGallery li:nth-child(4) img {
  width: 350px;
  height: 515px;
}

#dadaGallery li:nth-child(1) {
  width: 350px;
  height: 400px;
  grid-row: first;
  grid-column: first;
}
#dadaGallery li:nth-child(2) {
  width: 415px;

  grid-row: second;
  grid-column: second;
}
#dadaGallery li:nth-child(3) {
  width: 415px;
  grid-row: third;
  grid-column: third;
}
#dadaGallery li:nth-child(4) {
  width: 350px;
  height: 400px;
  grid-row: forth;
  grid-column: forth;
}
/* 열번째 페이지 */
.empty_box5 {
  display: flex;
  position: relative;
  overflow: visible;
}
.leftBox2 {
  width: 40%;
  height: 300vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 80px;
  display: flex;
}
.leftBox2Wrap {
  margin-top: 25vh;
  position: sticky;
  top: 25vh;
  width: 100%;
  height: 100vh;
  padding-left: 40px;
}
.leftBox2 .title {
  margin-bottom: 50px;
}
.leftBox2 .contentFont {
  margin: 30px 0;
}
.leftBox2 .brandstoryBtn {
  margin-top: 50px;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.rightBox2 {
  width: 53%;
  height: 300vh;
  position: absolute;
  top: 0;
  right: 0;
}
.rightBoxPhoto {
  position: absolute;
  background: no-repeat 50% / cover;
}
.photo10 {
  width: 100%;
  height: 663px;
  background-image: url(../images/photo10.jpg.png);
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.photo11 {
  width: 52%;
  height: 722px;
  background-image: url(../images/photo11.png);
  top: 950px;
  right: 0;
}
.photo12 {
  width: 355px;
  height: 234px;
  background-image: url(../images/photo12.png);
  top: 1390px;
  left: 0;
}
.photo13 {
  width: 355px;
  height: 234px;
  background-image: url(../images/photo13.png);
  top: 1620px;
  left: 0;
}
.photo14 {
  width: 355px;
  height: 234px;
  background-image: url(../images/photo14.png);
  top: 1770px;
  right: 0;
}
.photo15 {
  width: 100%;
  height: 405px;
  background-image: url(../images/photo15.png);
  bottom: 0;
  left: 0;
  z-index: 999;
}
/* 열한번째 이미지 */
/* .empty_box6{
    margin-top: 1800px;
    position: relative;
    background: url(./images/brand_b1.jpg) no-repeat 50%/cover;
    } */

/* 마지막 */
.symbolbox1 {
  width: 100%;
  height: 100vh;
  background-color: #828b78;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLogo {
  width: 300px;
  height: 300px;
  background: url(../images/footer_logo.png) no-repeat 50% / cover;
}
/* 
.contactbox{
  width: 50%; height:calc(100vh - 60px);
  background-color: #d3cabe ;
  text-align: center;
} */
.contactTxtWrap {
  width: 50%;
  height: 30%;
  margin: 30vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contactTxtWrap h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.contactTxtWrap p {
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 40px;
}
.contactTxtWrap a {
  width: 350px;
  display: block;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
.contactTxtWrap a:hover {
  background-color: #828b78;
  color: #fff;
}

.copyrightBox {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.empty_box1 {
  margin-top: 5000px;
}
/* 가로스크롤 박스 */
.container1 {
  margin-top: 1800px;
  position: relative;
  width: 100%;
}

.sticky_box1 {
  position: sticky;
  top: 0;
  height: 100vh;
}
.horizontal1 {
  position: absolute;
  display: flex;
  width: 200%;
  height: 100vh;
}
.horizontal1 .boxItem {
  height: 100vh;
}
.horizontal1 .boxrow1 {
  width: 100%;
  background: url(../images/brand_b1.jpg) no-repeat 50% / cover;
}
.horizontal1 .boxrow2 {
  width: 50%;
}
.horizontal1 .boxrow3 {
  width: 50%;
  position: relative;
}
/* 메뉴 */
#menu{
  width: 100%;
  height: 0vh;
  position: fixed;
  z-index: 9998;
  display: flex;
  align-items: center;
  padding: 100px;
}
#menu .menuScroll {
  display: none;
}
#menu.visible .menuScroll{
  display: block;
  margin-top: 10px;
  width: 60%; height: 68vh;
  margin-left: 10%;
  border-right: #000 1px solid;
}
#menu.visible li a{
  display: flex;
  align-items: center;
  margin: 2% 0;
  width: 80%; height: 80px;
  font-size: 2.8rem;
  font-weight: 400;
  position: relative;
  letter-spacing: 0px;
}

.menuScroll a:hover::before{
  content: "";
  position: absolute;
  width: 15px; height: 15px;
  background-color: #d38a2a;
  top: 50%; left: -30px;
  border-radius: 50%;
  transform: translateY(-50%);
}
#menu.visible{
  position: fixed;
  background-color: #d3cabe;
  width: 100%; height: 100vh;
  z-index: 9998;
}
#menu .menuInfo{
  display: none;
}
#menu.visible .menuInfo {
  width: 40%; height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#menu.visible .menuInfo li:first-of-type {
  font-size: 2rem;
  width: 100%; height: 50px;
  font-weight: 600;
  text-align: center;
  
}
.menuInfo{
  display: none;
}
#menu.visible .menuInfo li {
  width: 100%;
}
#menu.visible .menuInfo a {
  display: block;
}
#menu.visible .menuInfo li:nth-child(2) a {
  width: 100%; height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: -50px;
  font-size: 1.8rem;

}
#menu.visible .menuInfo li:nth-child(3) a {
  width: 50%; height: auto;
  padding: 20px;
  margin: 0 auto;
  word-break: keep-all;
  text-align: center;
  border: 2px solid black;
  font-size: 1.5rem;
}
#menu.visible .menuInfo li:nth-child(3) a:hover {
  color: #fff;
  background-color: #000;
}